 <!-- header -->
 <div class="nav-bar">
  <div class="logo">
    <img src="../assets/images/logo.png" alt="">
  </div>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Feature</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Contact us</a></li>
    </ul>
  </nav>
  <div onclick="handleClick()" class="action-btn mobile-only">
    <img class="open" src="../assets/icons/bars.svg" alt="">
    <img class="close" src="../assets/icons/close.svg" alt="">
  </div>
</div>
