<!-- footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <img class="logo" src="../assets/images/logo-full.png" alt="">
        <p>Evolve daily by efficiently managing your time, thoughts,
          tasks and routines in a simple app.</p>
      </div>
      <div class="col-xl-6">
        <div class="row right">
          <div class="links col-xl-4 col-4">
            <div class="head">
              Sitemap
            </div>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </div>
          <div class="links col-xl-4 col-4">
            <div class="head">
              Product
            </div>
            <ul>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Feature</a></li>
              <li><a href="#">Customer</a></li>
              <li><a href="#">Feedback</a></li>
            </ul>
          </div>
          <div class="links col-xl-4 col-4">
            <div class="head">
              Legal
            </div>
            <ul>
              <li><a href="#">Terms & condition</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Security</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="social">
      <p>@2022 All rights reserved</p>
      <ul>
        <li><a href="#"><img src="../assets/icons/instagram.svg"></a></li>
        <li><a href="#"><img src="../assets/icons/facebook.svg"></a></li>
        <li><a href="#"><img src="../assets/icons/linkedin.svg"></a></li>
        <li><a href="#"><img src="../assets/icons/twitter.svg"></a></li>
      </ul>
    </div>
  </div>
</footer>
