<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <a class="navbar-brand"><strong>Me</strong>volve</a>
        <p class="pr-5 text-white-50">
          Evolve daily by efficiently managing your time, thoughts,
          tasks and routines in a simple app.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class="">
          <small class="text-white-50">© 2019. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</div>
