<!-- Home page section-1  -->
<div id="automate" class="container p-3">
  <div class="row">
    <div class="left order-2 order-lg-1 col-sm-12 col-lg-6">
      <h3 class="pb-3">Automate self-development</h3>
      <p class="pb-3">
        Evolve daily by efficiently managing your time, thoughts,<br />
        tasks and routines in a simple app.
      </p>
      <button class="">
        <img src="../assets/icons/play.svg" alt="" />
        Watch video
      </button>
      <div class="donwload-app">
        <a href="#" class="me-4">
          <img src="../assets/images/app_store.png" alt="" />
        </a>
        <a href="#">
          <img src="../assets/images/play_store.png" alt="" />
        </a>
      </div>
    </div>
    <div class="right order-1 order-lg-2 col-sm-12 col-lg-6">
      <img src="../assets/images/climbing-girl.svg" alt="climbing-girl" />
    </div>
  </div>
</div>

<!-- section -2 -->
<div id="one-app">
  <div class="section-head">One App To Rule Them All</div>
  <div class="list">
    <ul>
      <li>
        <img src="../assets/images/to-do.svg" alt="To-Do list" />
        <h6>To-Do List</h6>
      </li>
      <li>
        <img src="../assets/images/habbit-tracking.svg" alt="Habit Tracker" />
        <h6>Habit Tracker</h6>
      </li>
      <li>
        <img src="../assets/images/journal.svg" alt="Journaling" />
        <h6>Journaling</h6>
      </li>
      <li>
        <img src="../assets/images/notes.png" alt="Notes" />
        <h6>Notes</h6>
      </li>
      <li>
        <img src="../assets/images/list.svg" alt="Lists" />
        <h6>Lists</h6>
      </li>
    </ul>
  </div>
</div>

<!-- section 3 -->
<div id="customize">
  <div class="container">
    <div class="row">
      <div class="left order-1 col-lg-4">
        <img
          src="../assets/images/customize1.png"
          class="desktop-only"
          alt=""
        />
      </div>
      <div class="right order-2 col-lg-8">
        <h5>Customize the way you like</h5>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <img src="../assets/icons/switch.svg" alt="" />
                Turn Off-On the features
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="aligin">
                  Mevolve was developed to help you reach your goals and <br />
                  be more consistent.
                </div>
                <img
                  src="../assets/images/customize1.png"
                  class="img-responsive mobile-only"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <img src="../assets/icons/light-dark.svg" alt="" />
                Light and Dark mode
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Mevolve was developed to help you reach your goals and <br />
                be more consistent.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <img src="../assets/icons/color-theme.svg" alt="" />
                Multi-theme colors
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Mevolve was developed to help you reach your goals and <br />
                be more consistent.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section 4 -->
  <div id="customize">
    <div class="container">
      <div class="row">
        <div class="left order-2 col-lg-4">
          <img
            src="../assets/images/customize2.png"
            class="desktop-only"
            alt=""
          />
        </div>
        <div class="right order-1 col-lg-8">
          <h5>Customize the way you like</h5>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <img src="../assets/icons/switch.svg" alt="" />
                  Turn Off-On the features
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="aligin">
                    Mevolve was developed to help you reach your goals and
                    <br />
                    be more consistent.
                  </div>
                  <img
                    src="../assets/images/customize1.png"
                    class="mobile-only"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <img src="../assets/icons/light-dark.svg" alt="" />
                  Light and Dark mode
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Mevolve was developed to help you reach your goals and <br />
                  be more consistent.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <img src="../assets/icons/color-theme.svg" alt="" />
                  Multi-theme colors
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Mevolve was developed to help you reach your goals and <br />
                  be more consistent.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- section-5 -->
      <div id="customize">
        <div class="container" id="hidden">
          <div class="row">
            <div class="left order-1 col-lg-4">
              <img
                src="../../assets/images/Image.png"
                class="desktop-only"
                alt=""
              />
            </div>
            <div class="right order-2 col-lg-8">
              <h5>Customize the way you like</h5>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <img src="../assets/icons/switch.svg" alt="" />
                      Turn Off-On the features
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="aligin">
                        Mevolve was developed to help you reach your goals and
                        <br />
                        be more consistent.
                      </div>
                      <img
                        src="../assets/images/customize1.png"
                        class="mobile-only"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <img src="../assets/icons/light-dark.svg" alt="" />
                      Light and Dark mode
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Mevolve was developed to help you reach your goals and
                      <br />
                      be more consistent.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <img src="../assets/icons/color-theme.svg" alt="" />
                      Multi-theme colors
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      Mevolve was developed to help you reach your goals and
                      <br />
                      be more consistent.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- section - 6 -->
        <div class="desktop-only" id="set_passcode">
          <div class="container">
            <div class="row" id="hidden">
              <div class="left order-1 col-lg-6">
                <img
                  class="img-fluid"
                  src="../assets/images/set_passcode.png"
                  alt=""
                />
              </div>
              <div class="right order-2 col-lg-6">
                <h5>Customize the way you like</h5>
                <ul>
                  <li>Turn Off-On the features that you want to use</li>
                  <li>Light and Datk theme</li>
                  <li>Multi-theme colors</li>
                </ul>
              </div>
            </div>

            <!-- section - 7 -->
            <div class="desktop-only" id="set_passcode">
              <div class="container">
                <div class="row" id="hidden">
                  <div class="left order-2 col-lg-6">
                    <img
                      class="img-fluid"
                      src="../assets/images/app_ui.png"
                      alt=""
                    />
                  </div>
                  <div class="right order-1 col-lg-6">
                    <h5>Customize the way you like</h5>
                    <ul>
                      <li>Turn Off-On the features that you want to use</li>
                      <li>Light and Datk theme</li>
                      <li>Multi-theme colors</li>
                    </ul>
                  </div>
                </div>

                <!-- section - 8 -->
                <div id="video">
                  <div class="video">
                    <div class="play-button">
                      <img src="../assets/icons/play.svg" alt="" />
                    </div>
                    <img
                      class="thumbnail"
                      src="../assets/images/video_thumbnail.png"
                      alt=""
                    />
                  </div>
                  <p>Watch Mevolve demo video to understand the application.</p>
                </div>
                <!-- section -8 -->
                <div id="pricing" class="">
                  <h4 class="heading">Choose the best plan for you</h4>
                  <div class="pricings ms-2">
                    <div class="plans">
                      <div class="plan">
                        <div class="price">$0</div>
                        <div class="duration">Free</div>
                        <div class="billing">For 30 days</div>
                      </div>
                      <div class="plan">
                        <div class="price">$3.99</div>
                        <div class="duration">Per Month</div>
                        <div class="billing">(Monthly Billing)</div>
                      </div>
                      <div class="plan">
                        <div class="price">$2.99</div>
                        <div class="duration">Per Year</div>
                        <div class="billing">(Yearly Billing)</div>
                      </div>
                    </div>

                    <!-- section - 9 -->
                    <div class="offer">
                      <h3>What we offer</h3>
                      <ul class="px-4">
                        <li>
                          <img src="../assets/icons/add_box.svg" alt="" /> Add
                          Todos, Habits, Journals and Notes in a single app.
                        </li>
                        <li>
                          <img src="../assets/icons/sports.svg" alt="" /> Four
                          types of Habit Tracking.
                        </li>
                        <li>
                          <img src="../assets/icons/signal.svg" alt="" /> Track
                          Todos, Habits, Journals and Notes with daily values.
                        </li>
                        <li>
                          <img src="../assets/icons/mood.svg" alt="" /> Update
                          your Mood and Pictures in Journal and Notes section.
                        </li>
                        <li>
                          <img src="../assets/icons/palette.svg" alt="" />
                          Customize the app color.
                        </li>
                        <li>
                          <img src="../assets/icons/notifications.svg" alt="" />
                          Notification and Reminders.
                        </li>
                        <li>
                          <img src="../assets/icons/lock.svg" alt="" /> Lock Pin
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- section - 10 -->
              <div id="contact-us">
                <h3 class="heading">Get in touch</h3>
                <p>Our friendly team would love to hear from you!</p>
                <div class="form">
                  <form>
                    <div class="input-control">
                      <label for="name">Your Name</label>
                      <input id="name" type="text" placeholder="eg, Joseph" />
                    </div>
                    <div class="input-control">
                      <label for="email">Your Email</label>
                      <input
                        id="email"
                        type="text"
                        placeholder="eg, joseph678@gmail.com"
                      />
                    </div>
                    <div class="input-control">
                      <label for="message">Message</label>
                      <textarea
                        id="message"
                        type="text"
                        placeholder="Let tell us about your thoughts on this..."
                      ></textarea>
                    </div>
                    <div class="center">
                      <button type="submit">Send message</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
