<!--Silder data-->
<div class="container">
  <div class="row mt-5">
    <div class="top col-md">
      <h1 style="font-weight: bold">Automate Self-Development</h1>
      <p class="mt-5">
        Evolve daily by efficiently Managing your Time, Thoughts<br />
      </p>
      <p style="margin-left: 15%">tasks and routines in a simple app</p>
      <img
        src="../../assets/Watch.JPG"
        class="img-responsive"
        style="height: 40%; width: 70%"
      />
    </div>
    <div class="bottom col-md">
      <img
        src="../../assets/Vector_image.JPG"
        class="img-responsive"
        style="width: 100%; height: 100%"
      />
    </div>
  </div>
</div>
<!--Slider Data Ends -->

<!--One App To Rule Them All -->

<div class="container-fluid ">
  <h5 class="text-center">One App To Rule Them All</h5>
  <div class="row g-2">
    <div class="col"><img src="../../assets/Frame 15.jpg" /></div>
    <div class="col"><img src="../../assets/Frame 9.jpg" /></div>
    <div class="col"><img src="../../assets/Frame 10.jpg" /></div>
    <div class="col"><img src="../../assets/list__.jpg"/></div>
    <div class="col"><img src="../../assets/Frame 12.jpg" /></div>
  </div>
</div>

<!-- section-1 -->

<div class="container">
  <div class="row mt-5  section-one">
    <div class="col-md">
      <img src="../../assets/iPhone 13 Pro Max - 38 3.jpg" class="section-one-img img-responsive" style="width:100%; height: 100%"/>
    </div>
    <div class="col-md">
      <div class="content-one ">
        <h3 class="text-primary" style="font-weight: bold">Customize the way you like</h3>
      <h6  class="text-primary"><i class="fa fa-toggle-on text-primary"></i> <span class="ms-4 me-5">Turn Off-On the features</span><i class="fa-solid fa-angle-up"></i></h6>
      <p class="mt-2">
        Mevolve was developed to help you reach your goals and<br/>
        be more consistent.
      </p>
      </div>
      <h6><img src="../../assets/Vector (1).jpg"/>Light and Dark mode  <img src="../../assets/Vector (4).jpg"/></h6>
      <h6><img src="../../assets/Vector (2).jpg"/>Multi-theme colors <img src="../../assets/Vector (4).jpg"/></h6>
    </div>
  </div>
</div>

<!--section-2 -->

<div class="container">
  <div class="row mt-5">
    <div class="col-md">
      <div class="content-one ">
        <h3 class="text-primary" style="font-weight: bold">Customize the way you like</h3>
      <h6  class="text-primary"><i class="fa fa-toggle-on text-primary"></i> <span class="ms-4 me-5">Turn Off-On the features</span><i class="fa-solid fa-angle-up"></i></h6>
      <p class="mt-2">
        Mevolve was developed to help you reach your goals and<br/>
        be more consistent.
      </p>
      </div>
      <h6><img src="../../assets/Vector (1).jpg"/>Light and Dark mode  <img src="../../assets/Vector (4).jpg"/></h6>
      <h6><img src="../../assets/Vector (2).jpg"/>Multi-theme colors <img src="../../assets/Vector (4).jpg"/></h6>
    </div>
    <div class="col-md">
      <img
        src="../../assets/customize 1.jpg"
        class="img-responsive"
        style="width: 100%; height: 100%"
      />
    </div>
  </div>
</div>

<!-- section-3 -->
<div class="container">
  <div class="row mt-5">
    <div class="col-md">
      <img
        src="../../assets/Journal feature 1.jpg"
        class="img-responsive"
        style="width: 100%; height: 50%"
      />
      <img
        src="../../assets/mood tracker 1.jpg"
        class="img-responsive"
        style="width: 100%; height: 50%"
      />

    </div>
    <div class="customize col-md">
      <div class="col-md">
        <div class="content-one ">
          <h3 class="text-primary" style="font-weight: bold">Customize the way you like</h3>
        <h6  class="text-primary"><i class="fa fa-toggle-on text-primary"></i> <span class="ms-4 me-5">Turn Off-On the features</span><i class="fa-solid fa-angle-up"></i></h6>
        <p class="mt-2">
          Mevolve was developed to help you reach your goals and<br/>
          be more consistent.
        </p>
        <h6><img src="../../assets/Vector (1).jpg"/>Light and Dark mode  <img src="../../assets/Vector (4).jpg"/></h6>
      <h6><img src="../../assets/Vector (2).jpg"/>Multi-theme colors <img src="../../assets/Vector (4).jpg"/></h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="top col-md">
         <img
        src="../../assets/set passcode 1.jpg"
        class="img-responsive"
        style="height: 100%; width: 100%"
      />
    </div>
    <div class="bottom col-md">
      <h3 style="font-weight: bold">Customize the way you like</h3>
      <h6><i class="fa fa-circle" aria-hidden="true"></i>Off-On the features that you want to use</h6>
      <h6><i class="fa fa-circle" aria-hidden="true"></i>Light and Dark mode</h6>
      <h6><i class="fa fa-circle" aria-hidden="true"></i>Multi-theme colors</h6>

    </div>
  </div>
</div>

